<div id="admin-approval-container">
  {{#if pending_organizations.count}}
    <h2>Organizations Pending Approval</h2>
  {{/if}}

  {{#each pending_organizations}}
    <div class="pending-organization">
      <p><strong>Organization:</strong> {{this.organization_name}}</p>
      <p><strong>Contact:</strong> {{this.contact_name}}</p>
      <p><strong>URL:</strong> {{this.contact_url}}</p>

      <form class="admin-approval-form" action="admin-approve" method="POST">
        <div class="form-fields-container">
          <input type="hidden" name="organization_id" value="{{this.organization_id}}">
          <button type="submit">Approve</button>
        </div>
      </form>

    </div>
  {{/each}}

  {{#if pending_organizations.count}}
    <h2>Approved Organizations</h2>
  {{/if}}

  {{#each approved_organizations}}
    <div class="pending-organization">
      <p><strong>Organization:</strong> {{this.organization_name}}</p>
      <p><strong>Contact:</strong> {{this.contact_name}}</p>
      <p><strong>URL:</strong> {{this.contact_url}}</p>

      <form class="admin-approval-form" action="admin-reject" method="POST">
        <div class="form-fields-container">
          <input type="hidden" name="organization_id" value="{{this.organization_id}}">
          <button type="submit">Revoke</button>
        </div>
      </form>

    </div>
  {{/each}}
</div>